{
  "presets": [
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "universal-import",
    "syntax-trailing-function-commas"
  ],
  "env": {
    "clientDevelopment": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "clientProduction": {
      "presets": [
        ["env", { "modules": false, "useBuiltIns": true, "targets": {
          "browsers": "Chrome >= 60"
        }}]
      ],
      "compact": true,
      "plugins": [
        ["lodash", {"id": ["ramda"]}],
        ["transform-react-remove-prop-types", {
          "mode": "remove",
          "removeImport": true
        }],
        "transform-react-constant-elements"
      ]
    },
    "test": {
      "plugins": [
        "babel-plugin-webpack-alias",
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
