{
  "presets": [
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "universal-import",
    "react-hot-loader/babel"
  ],
  "env": {
    "clientDevelopment": {
      "plugins": [
      ]
    },
    "clientProduction": {
      "presets": [
        ["env", { "modules": false, "useBuiltIns": true, "targets": {
          "browsers": "Chrome >= 60"
        }}]
      ],
      "plugins": [
        ["transform-react-remove-prop-types", {
          "mode": "remove",
          "removeImport": true
        }],
        "transform-react-constant-elements"
      ]
    }
  }
}
