{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "css-modules"
  ],
  "extends": [
    "plugin:css-modules/recommended",
    "airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": true, "peerDependencies": false}],
    "global-require": 0
  }
}
