{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": [
    "css-modules",
    "jest",
    "prettier"
  ],
  "extends": [
    "plugin:jest/recommended",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": [ "**/*.test.js", "scripts/**/*" ], "optionalDependencies": false, "peerDependencies": false}],
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "global-require": 0,
    "react/react-in-jsx-scope": 0,
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all",
      "jsxBracketSameLine": false
    }]
  }
}
